includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/localheinz/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
    classesAllowedToBeExtended:
        - Symfony\Component\HttpKernel\Bundle\Bundle
        - Symfony\Component\DependencyInjection\Extension\Extension
        - Flaconi\EnqueueRdKafkaSerializerBundle\Extension\ConverterExtension
    level: 7
    paths:
        - %currentWorkingDirectory%
    excludes_analyse:
        - Tests
        - vendor
        - var
    ignoreErrors:
        - '/Cannot call method arrayNode() on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface|null./'
        - '/Only booleans are allowed in a negated boolean, array<bool|string> given./'
        - '/Method Flaconi\\EnqueueRdKafkaSerializerBundle\\Extension\\.*ConverterExtension::isConvertible\(\) has parameter \$value with no typehint specified./'
        - '/Method Flaconi\\EnqueueRdKafkaSerializerBundle\\Extension\\.*ConverterExtension::convert\(\) has parameter \$value with no typehint specified./'
        - '/Method Flaconi\\EnqueueRdKafkaSerializerBundle\\Extension\\.*ConverterExtension::convert\(\) has no return typehint specified./'